body{
    font-family: 'Rubik', sans-serif;
}

.container1{
    background-color: black;
display: flex;
height: 800px;
justify-content: center;
}
.TheProject{
    border-radius: 18px;
    background-color: white;
    display: flex;
    height: 600px;
    width: 1000px;

}
.section1{
    border-radius: 18px;
    flex: 1;
    display: flex;
    align-items: center;
    background-image: url(images/Tupperwarebgpink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.TupperwareLogo{
    max-width: 100%;
    height: auto;
}
.section2{
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button1{
    margin-top: 10px;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    background-color: magenta;
    color: white;
    font-family:'Rubik', sans-serif;
}
.boxing{
    border: 2px solid red;
}
input[type=text] {
    flex: 1;
    padding: 15px 170px 15px 10px;
    border: 2px solid darkgrey;
    border-radius: 12px;
}
.footertext{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    flex-shrink: 0;  
}