    body{
        font-family: 'Rubik', sans-serif;
        padding: 0;
        margin: 0;
    }

.container1{
    background: rgb(55,1,41);
    background: linear-gradient(40deg, rgba(55,1,41,1) 0%, rgba(131,5,120,1) 46%, rgba(255,0,194,1) 100%);
    display: flex;
    height: 820px;
    justify-content: center;
    align-items: center;
    }
    
    .TheProject{
        border-radius: 18px;
        background-color: white;
        display: flex;
        height: 600px;
        width: 1000px;
    }
    
    .section1{
        border-radius: 18px;
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url(images/Tupperwarebgpink.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .TupperwareLogo{
        max-width: 100%;
        height: auto;
    }
    .section2{
        padding-left: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .button1{
        margin-top: 10px;
        border: none;
        height: 50px;
        width: 200px;
        border-radius: 12px;
        background-color: #ff00b0;
        color: white;
        font-family:'Rubik', sans-serif;
        font-size: 15px;
    }
    
    .boxng {
        border: 2px solid red;
    }
    input[type=text] {
        flex: 1;
        padding: 15px 170px 15px 10px;
        border: 2px solid darkgrey;
        border-radius: 12px;
    }
    .footertext{
        height: 210px;
        text-align: left;
        padding-right: 70px;
    }
    
    .Sec2Header{
        font-size: 30px;
        margin: 20px 0px 10px 0;
        padding: 0;
    }
    
    .Sec2Description{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    .Sec2List{
        margin-top: 10px;
        padding: 0 0 0 20px;
    }
    
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 46%, rgba(32,32,32,1) 100%);
        display: flex;
        color: darkgrey;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    
    header{
        background: rgb(0,0,0);
        background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 46%, rgba(32,32,32,1) 100%);
        display: flex;
        color: lightgrey;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    
    @media screen and (max-width: 480px) {
        .container1{
            height: 1200px;
        }
        .section1{
            border-radius: 18px;
            flex: 0;
            display: flex;
            align-items: center;
            background-image: url(images/Tupperwarebgpink.jpg);
            background-repeat: no-repeat;
            background-size: cover;}

        .TheProject{
            flex-direction: column;
            height: 870px;
        }
        .section2{
            padding-left: 10px;
            padding-right: 10px;
        }
        .Sec2Header{
         text-align: center;
        }
        .Sec2Description{
            text-align: center;
        }
        .footertext{
            text-align: center;
            padding-right: 0px;
        }
        header{
            height: 45px;
            font-size: 12px;
        }
        footer{
            height: 45px;
            font-size: 12px;
        }
    }